*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#4F46E5,#2563EB);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
background:white;
width:380px;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.login-box h1{
text-align:center;
margin-bottom:30px;
color:#2563EB;
}

input{
width:100%;
padding:15px;
margin-bottom:20px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:15px;
background:#2563EB;
color:white;
border:none;
border-radius:8px;
font-size:17px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

p{
margin-top:20px;
text-align:center;
}

a{
text-decoration:none;
color:#2563EB;
font-weight:bold;
}
