*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#4F46E5,#2563EB);
color:white;
min-height:100vh;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

.logo{
font-size:28px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
text-decoration:none;
color:white;
font-weight:bold;
}

.login-btn,
.signup-btn{
padding:10px 20px;
border:none;
border-radius:8px;
cursor:pointer;
margin-left:10px;
}

.login-btn{
background:white;
color:#2563EB;
}

.signup-btn{
background:#0F172A;
color:white;
}

.hero{
display:flex;
justify-content:center;
align-items:center;
min-height:80vh;
padding:60px;
}

.hero h1{
font-size:50px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:700px;
margin:auto;
line-height:1.6;
margin-bottom:30px;
}

.start-btn{
padding:15px 40px;
font-size:18px;
background:#FFD43B;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
transition:0.3s;
}

.start-btn:hover{
transform:scale(1.08);
}
.hero-text{
max-width:700px;
text-align:center;
}

.about{
    padding:80px 100px;
    text-align:center;
}

.about h2{
    font-size:40px;
    margin-bottom:25px;
}

.about p{
    width:75%;
    margin:auto;
    font-size:20px;
    line-height:1.8;
}
.stats{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:70px;
    flex-wrap:wrap;
}

.box{
    width:220px;
    background:rgba(255,255,255,.15);
    padding:30px;
    border-radius:15px;
    text-align:center;
    backdrop-filter:blur(10px);
}

.box h1{
    font-size:45px;
    margin-bottom:10px;
}

.box p{
    font-size:20px;
}
.features{
padding:60px 30px;
text-align:center;
}

.features h2{
font-size:38px;
margin-bottom:40px;
}

.feature-container{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.card{
width:280px;
padding:25px;
background:white;
color:#333;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card h3{
margin-bottom:15px;
color:#2563EB;
}
