<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Skill Swap Platform</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="logo">Smart Skill Swap</div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div>
           <a href="/login">
    <button class="login-btn">Login</button>
</a>
            <button class="signup-btn">Sign Up</button>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero">

    <!-- Left Side -->
    <div class="hero-text">

        <h1>Learn Skills.<br>Teach Skills.<br>Grow Together.</h1>

        <p>
            Exchange your skills with others, discover new talents,
            and build your future without spending money.
        </p>

        <button class="start-btn">
            Get Started
        </button>

    </div>
<section class="features">

    <h2>Our Features</h2>

    <div class="feature-container">

        <div class="card">
            <h3>🤝 Skill Matching</h3>
            <p>Find the right learning partner based on your skills.</p>
        </div>

        <div class="card">
            <h3>📅 Easy Scheduling</h3>
            <p>Plan and manage your learning sessions easily.</p>
        </div>

        <div class="card">
            <h3>⭐ Ratings</h3>
            <p>Review and rate your learning experience after every swap.</p>
        </div>

    </div>

</section>
    <!-- Right Side -->
    

</section>
<!-- About Section -->

<section class="about">

    <h2>About Our Platform</h2>

    <p>
        Smart Skill Swap Platform is a web application that helps users exchange
        skills without spending money. Users can teach the skills they know and
        learn new skills from others through a secure and easy-to-use platform.
    </p>

</section>
<!-- Statistics -->

<section class="stats">

    <div class="box">
        <h1>500+</h1>
        <p>Users</p>
    </div>

    <div class="box">
        <h1>200+</h1>
        <p>Skills</p>
    </div>

    <div class="box">
        <h1>1000+</h1>
        <p>Skill Swaps</p>
    </div>

</section>
</body>

</html>
